@page
@model Group5_SE1730_BookingManagement.Pages.Search.IndexModel
@{
}
<link rel="stylesheet" href="~/css/Areas/Search/search.css" />
<!--Plugin CSS file with desired skin-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />

<!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--Plugin JavaScript file-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>

<style>
    .fullSlider{
        width: 274px !important;
    }

/*     .fullSlider span {
        width: 298px;
    } */

    .homestay-card {
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .homestay-img {
        max-width: 200px;
        border-radius: 5px;
    }

    .homestay-details {
        flex: 1;
        margin-left: 15px;
    }

    .homestay-price {
        text-align: right;
    }

    .star-rating {
        color: #ffc107;
    }

    .services span {
        margin-right: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 3px 7px;
        background-color: #f8f9fa;
    }
</style>

<form method="get">
    <div class="css-1dbjc4n r-gtdqiz r-ipm5af" style="
            transition: all ease 300ms;
            z-index: 100;
            -webkit-transition: all ease 300ms;
            -moz-transition: all ease 300ms;
          " id="accom-search-bar">
        <div class="css-1dbjc4n r-1gwmomf r-7fnjib r-b4qz5r r-18u37iz r-1f1sjgu r-13qz1uu r-1g40b8q">
            <div class="css-1dbjc4n r-18u37iz r-1jgb5lz r-wech8c r-1guathk r-13qz1uu">
                <div class="css-1dbjc4n r-obd0qt r-zo7nv5 r-13awgt0 r-18u37iz r-1h0z5md">
                    <div class="css-1dbjc4n r-13awgt0">
                        <div class="css-1dbjc4n r-tqpus0">
                            <div tabindex="0" class="css-1dbjc4n r-1loqt21">
                                <div class="css-1dbjc4n r-1awozwy r-13awgt0 r-18u37iz r-1777fci r-edyy15">
                                    <div class="css-1dbjc4n r-v1sgqt r-42olwf r-kdyh1x r-rs99b7 r-1p0dtai r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-14qw7yl r-1wyyakw" style="
                            height: calc(100% - 2);
                            -webkit-transition-delay: 0ms;
                            transition-delay: 0ms;
                            -webkit-transition-property: width, height,
                              border-color, border-width, background-color;
                            transition-property: width, height, border-color,
                              border-width, background-color;
                            -webkit-transition-timing-function: ease;
                            transition-timing-function: ease;
                            width: calc(100% - 2);
                            will-change: width, height, border-color,
                              border-width, background-color;
                            -moz-transition-property: width, height,
                              border-color, border-width, background-color;
                          "></div>
                                    <div class="css-1dbjc4n r-1kb76zh">
                                        <svg width="16" height="16" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" data-id="IcSystemMapLocationFill12">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6 12C6 12 10.5 8.5 10.5 5.5C10.5 2.73858 8.76142 0.5 6 0.5C3.23858 0.5 1.5 2.73858 1.5 5.5C1.5 8.5 6 12 6 12ZM6 7C7.10457 7 8 6.10457 8 5C8 3.89543 7.10457 3 6 3C4.89543 3 4 3.89543 4 5C4 6.10457 4.89543 7 6 7Z" fill="#FFFFFF"></path>
                                        </svg>
                                    </div>
                                    <input type="text" placeholder="Thành phố, khách sạn, điểm đến" name="Destination" value="@Model.Destination" aria-invalid="false" autocapitalize="sentences" autocomplete="on" autocorrect="on" dir="auto" spellcheck="true" class="css-11aywtz r-jwli3a r-13awgt0 r-t1w4ow r-1b43r93 r-b88u0q r-rjixqe r-bcqeeo r-1ny4l3l r-10paoce r-13n6l4s" data-testid="autocomplete-field">
                                </div>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div class="css-1dbjc4n r-sexje">
                        <div class="css-1dbjc4n r-tqpus0">
                            <div tabindex="0" class="css-1dbjc4n r-1loqt21">
                                <div class="css-1dbjc4n r-1awozwy r-13awgt0 r-18u37iz r-1777fci r-edyy15">
                                    <div class="css-1dbjc4n r-v1sgqt r-42olwf r-kdyh1x r-rs99b7 r-1p0dtai r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-14qw7yl r-1wyyakw" style="
                            height: calc(100% - 2);
                            -webkit-transition-delay: 0ms;
                            transition-delay: 0ms;
                            -webkit-transition-property: width, height,
                              border-color, border-width, background-color;
                            transition-property: width, height, border-color,
                              border-width, background-color;
                            -webkit-transition-timing-function: ease;
                            transition-timing-function: ease;
                            width: calc(100% - 2);
                            will-change: width, height, border-color,
                              border-width, background-color;
                            -moz-transition-property: width, height,
                              border-color, border-width, background-color;
                          "></div>
                                    @*                                 <div class="css-1dbjc4n r-1kb76zh">
                                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-id="IcSystemCalendar">
                                    <path d="M7 2V5M17 2V5M3 8H21M11.5 11.5H12.5V12.5H11.5V11.5ZM11.5 16.5H12.5V17.5H11.5V16.5ZM16.5 11.5H17.5V12.5H16.5V11.5ZM6.5 16.5H7.5V17.5H6.5V16.5ZM5 21H19C20.1046 21 21 20.1046 21 19V6C21 4.89543 20.1046 4 19 4H5C3.89543 4 3 4.89543 3 6V19C3 20.1046 3.89543 21 5 21Z" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 11.5V12.5H6.5V11.5H7.5Z" stroke="#0194F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                    </div> *@
                                    <input type="text" name="daterange" placeholder="Nhận phòng:" value="@Model.GetFormattedDate(Model.CheckInDate) - @Model.GetFormattedDate(Model.CheckInDate.AddDays(Model.Nights))" aria-invalid="false" autocapitalize="sentences" autocomplete="on" autocorrect="on" dir="auto" spellcheck="true" class="css-11aywtz r-jwli3a r-13awgt0 r-t1w4ow r-1b43r93 r-b88u0q r-rjixqe r-bcqeeo r-1ny4l3l r-10paoce r-13n6l4s" data-testid="check-in-date-field">
                                    <input type="hidden" id="checkInDateInput" name="CheckInDate" value="@Model.CheckInDate" />
                                    <input type="hidden" id="nightsInput" name="Nights" value="@Model.Nights" />
                                    @*                                 <div class="css-1dbjc4n r-1jkjb">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" data-id="IcSystemChevronDown12">
                                    <path d="M2 4.5L6 8.5L10 4.5" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                    </div> *@
                                </div>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div class="css-1dbjc4n r-1wnm6qf">
                        <div class="css-1dbjc4n">
                            <span></span>
                            <div class="css-1dbjc4n r-tqpus0">
                                <div tabindex="0" class="css-1dbjc4n r-1loqt21">
                                    <div class="css-1dbjc4n r-1awozwy r-13awgt0 r-18u37iz r-1777fci r-edyy15">
                                        <div class="css-1dbjc4n r-v1sgqt r-42olwf r-kdyh1x r-rs99b7 r-1p0dtai r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-14qw7yl r-1wyyakw" style="
                              height: calc(100% - 2);
                              -webkit-transition-delay: 0ms;
                              transition-delay: 0ms;
                              -webkit-transition-property: width, height,
                                border-color, border-width, background-color;
                              transition-property: width, height, border-color,
                                border-width, background-color;
                              -webkit-transition-timing-function: ease;
                              transition-timing-function: ease;
                              width: calc(100% - 2);
                              will-change: width, height, border-color,
                                border-width, background-color;
                              -moz-transition-property: width, height,
                                border-color, border-width, background-color;
                            "></div>
                                        @*                                     <div class="css-1dbjc4n r-1kb76zh">
                                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-id="IcHotelRoomGuest">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99958 15C13 15 13 21 13 21H3C3 21 2.99916 15 7.99958 15Z" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 13C9.65685 13 11 11.6569 11 10C11 8.34315 9.65685 7 8 7C6.34315 7 5 8.34315 5 10C5 11.6569 6.34315 13 8 13Z" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M9 4V3H20V21M20 21H21M20 21H16M13 7H17M17 12H15M17 12V10.5M17 12V13" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                        </div> *@
                                        <input type="number" placeholder="Số lượng khách" value="@Model.Guests" name="Guests" aria-invalid="false" autocapitalize="sentences" autocomplete="on" autocorrect="on" dir="auto" spellcheck="true" class="css-11aywtz r-jwli3a r-13awgt0 r-t1w4ow r-1b43r93 r-b88u0q r-rjixqe r-bcqeeo r-1ny4l3l r-10paoce r-13n6l4s" data-testid="occupancy-field"><span style="color:white">Người</span>
                                        @*                                     <div class="css-1dbjc4n r-1jkjb">
                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" data-id="IcSystemChevronDown12">
                                        <path d="M2 4.5L6 8.5L10 4.5" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                        </div> *@
                                    </div>
                                </div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div aria-live="polite" role="button" tabindex="0" class="css-18t94o4 css-1dbjc4n r-1ihkh82 r-kdyh1x r-1loqt21 r-1pi2tsx r-10paoce r-1e081e0 r-5njf8e r-1otgn73 r-lrvibr" data-testid="search-submit-button">
                        <div dir="auto" class="css-901oao r-1yadl64 r-1vonz36 r-109y4c4 r-1cis278 r-1udh08x r-t60dpp r-u8s1d r-3s2u2q r-92ng3h">
                            Tìm khách sạn
                        </div>
                        <div class="css-1dbjc4n r-1awozwy r-13awgt0 r-18u37iz r-1777fci" style="opacity: 1">
                            <div dir="auto" aria-hidden="true" class="css-901oao r-1awozwy r-6koalj r-1d4mawv" style="color: rgba(1, 148, 243, 1)">
                                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-id="IcSystemSearch">
                                    <path d="M15 15L20.5 20.5M10 17C13.866 17 17 13.866 17 10C17 6.13401 13.866 3 10 3C6.13401 3 3 6.13401 3 10C3 13.866 6.13401 17 10 17Z" stroke="#0194f3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            @*                         <div dir="auto" aria-hidden="true" class="css-901oao css-bfa6kz r-t1w4ow r-1o4mh9l r-b88u0q r-f0eezp r-q4m81j" style="color: rgba(1, 148, 243, 1)">
                            Tìm khách sạn
                            </div> *@
                            <input type="submit" value="Tìm khách sạn" style="background-color:transparent; color: rgba(1, 148, 243, 1)" class="css-901oao css-bfa6kz r-t1w4ow r-1o4mh9l r-b88u0q r-f0eezp r-q4m81j" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="css-1dbjc4n r-ywje51 r-9bullz" style="padding-top: 32px">
    <div class="css-1dbjc4n r-zo7nv5 r-6koalj r-13awgt0 r-18u37iz r-1777fci r-ywje51 r-13qz1uu">
        <div class="css-1dbjc4n r-13awgt0 r-1ssbvtb" style="max-width: 298px; width: 298px">
            @* <div tabindex="0" class="css-1dbjc4n r-1loqt21 r-1otgn73 r-1i6wzkk r-lrvibr" style="-webkit-transition-duration: 0s; transition-duration: 0s" data-testid="accom-app-install">
            <div class="css-1dbjc4n r-1k97etb r-kdyh1x r-da5iq2 r-18u37iz r-o52ifk r-1udh08x r-417010">
            <noscript>
            <img importance="low"
            loading="lazy"
            src="https://ik.imagekit.io/tvlk/image/imageResource/2023/06/14/1686722012720-860ee29e30608815f3cc5d6271a3288c.jpeg?tr=q-75"
            srcset="
            https://ik.imagekit.io/tvlk/image/imageResource/2023/06/14/1686722012720-860ee29e30608815f3cc5d6271a3288c.jpeg?tr=q-75       1x,
            https://ik.imagekit.io/tvlk/image/imageResource/2023/06/14/1686722012720-860ee29e30608815f3cc5d6271a3288c.jpeg?tr=dpr-2,q-75 2x,
            https://ik.imagekit.io/tvlk/image/imageResource/2023/06/14/1686722012720-860ee29e30608815f3cc5d6271a3288c.jpeg?tr=dpr-3,q-75 3x
            "
            decoding="async"
            width="100%"
            height="100%"
            class="r-u8s1d r-184en5c"
            style="
            object-fit: fill;
            object-position: 50% 50%;
            " />
            </noscript><img importance="low" loading="lazy" decoding="async" width="100%" height="100%" data-src-set="https://ik.imagekit.io/tvlk/image/imageResource/2023/06/14/1686722012720-860ee29e30608815f3cc5d6271a3288c.jpeg?tr=q-75 1x, https://ik.imagekit.io/tvlk/image/imageResource/2023/06/14/1686722012720-860ee29e30608815f3cc5d6271a3288c.jpeg?tr=dpr-2,q-75 2x, https://ik.imagekit.io/tvlk/image/imageResource/2023/06/14/1686722012720-860ee29e30608815f3cc5d6271a3288c.jpeg?tr=dpr-3,q-75 3x" data-src="https://ik.imagekit.io/tvlk/image/imageResource/2023/06/14/1686722012720-860ee29e30608815f3cc5d6271a3288c.jpeg?tr=q-75" class="r-u8s1d r-184en5c" style="object-fit: fill; object-position: 50% 50%">
            <div class="css-1dbjc4n r-1awozwy r-1w3sgar r-18u37iz r-xyw6el r-136ojw6">
            <div class="css-1dbjc4n" style="
            -webkit-align-items: stretch;
            align-items: stretch;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-align: stretch;
            -webkit-box-align: stretch;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            ">
            <div class="css-1dbjc4n" style="
            -webkit-align-items: stretch;
            align-items: stretch;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-align: stretch;
            -webkit-box-align: stretch;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            ">
            <h4 aria-level="4" dir="auto" role="heading" class="css-4rbku5 css-901oao css-bfa6kz r-jwli3a r-t1w4ow r-1b43r93 r-b88u0q r-1cwl3u0 r-fdjqy7">
            Tại sao phải đặt giá cao
            </h4>
            <div class="css-1dbjc4n" style="padding-bottom: 4px"></div>
            <h4 aria-level="4" dir="auto" role="heading" class="css-4rbku5 css-901oao css-bfa6kz r-jwli3a r-t1w4ow r-1b43r93 r-b88u0q r-1cwl3u0 r-fdjqy7">
            Trong khi có giá thấp hơn?
            </h4>
            </div>
            <div class="css-1dbjc4n" style="padding-bottom: 8px"></div>
            <div dir="auto" class="css-901oao css-bfa6kz r-jwli3a r-t1w4ow r-1enofrn r-majxgm r-1cwl3u0 r-fdjqy7">
            Tải app để nhận nhiều ưu đãi!
            </div>
            </div>
            </div>
            </div>
            </div> *@
            <div tabindex="0" class="css-1dbjc4n r-1loqt21 r-1otgn73 r-1i6wzkk r-lrvibr" style="-webkit-transition-duration: 0s; transition-duration: 0s">
                <div class="css-1dbjc4n">
                    <div class="css-1dbjc4n r-1p0dtai r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af r-1wyyakw">
                        <div class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-4gszlv r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"></div>
                    </div>
                    @* <div class="css-1dbjc4n r-1awozwy r-kdyh1x r-18u37iz r-1iud8zs r-17s6mgv r-edyy15">
                    <div aria-live="polite" role="button" tabindex="0" class="css-18t94o4 css-1dbjc4n r-1k97etb r-kdyh1x r-1loqt21 r-10paoce r-1e081e0 r-5njf8e r-1otgn73 r-lrvibr">
                    <div dir="auto" class="css-901oao r-1yadl64 r-1vonz36 r-109y4c4 r-1cis278 r-1udh08x r-t60dpp r-u8s1d r-3s2u2q r-92ng3h">
                    Mở bản đồ
                    </div>
                    <div class="css-1dbjc4n r-1awozwy r-13awgt0 r-18u37iz r-1777fci" style="opacity: 1">
                    <div dir="auto" aria-hidden="true" class="css-901oao r-1awozwy r-jwli3a r-6koalj r-1d4mawv">
                    <img importance="low" loading="lazy" src="images/894321540abb99f69a9fe9b5c8ac633b.svg" decoding="async" width="16" height="16" style="object-fit: fill; object-position: 50% 50%">
                    </div>
                    <div dir="auto" aria-hidden="true" class="css-901oao css-bfa6kz r-jwli3a r-t1w4ow r-1o4mh9l r-b88u0q r-f0eezp r-q4m81j">
                    Mở bản đồ
                    </div>
                    </div>
                    </div>
                    </div> *@
                </div>
            </div>
            <div class="css-1dbjc4n r-13awgt0 r-1ssbvtb" data-testid="filter-menu">
                <div class="css-1dbjc4n r-14lw9ot r-1xfd6ze r-1ssbvtb r-f727ji r-j2kj52 r-1f1sjgu">
                    <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1wtj0ep">
                        <div class="css-1dbjc4n" style="
                        -webkit-align-items: stretch;
                        align-items: stretch;
                        -webkit-flex-direction: column;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        -ms-flex-align: stretch;
                        -webkit-box-align: stretch;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                      ">
                            <div dir="auto" class="css-901oao r-t1w4ow r-1b43r93 r-rjixqe r-fdjqy7" style="color: rgba(3, 18, 26, 1); font-weight: 900">Phạm vi giá</div>
                            <div class="css-1dbjc4n" style="padding-bottom: 0px"></div>
                            <div dir="auto" class="css-901oao r-t1w4ow r-1enofrn r-majxgm r-1cwl3u0 r-fdjqy7" style="color: rgba(104, 113, 118, 1)">1 phòng, 1 đêm</div>
                        </div>
                        <div class="css-1dbjc4n" style="padding-right: 0px"></div>
                        @* <div aria-disabled="true" aria-live="polite" role="button" class="css-1dbjc4n r-kdyh1x r-10paoce r-5njf8e r-lrvibr" data-testid="tvat-resetFilterPriceRange">
                            <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1777fci" style="opacity: 1">
                                <div dir="auto" class="css-901oao r-t1w4ow r-1o4mh9l r-b88u0q r-f0eezp r-q4m81j" style="color: rgba(205, 208, 209, 1)">
                                    Đặt lại
                                </div>
                            </div>
                        </div> *@
                    </div>
                    <div class="css-1dbjc4n r-1ihkh82 r-kdyh1x r-1udh08x fullSlider" style="height: 76px; width: 218px">
                        <input class="css-1dbjc4n r-k1fkm9" type="text" id="js-range-slider" name="my_range" value=""
                               data-type="double"
                               data-min="0"
                               data-max="110000000"
                               data-from="0"
                               data-to="110000000"/>
                    </div>
                </div>
                <div class="css-1dbjc4n">
                    <div class="css-1dbjc4n r-14lw9ot r-1xfd6ze r-1udh08x">
                        <div tabindex="0" class="css-1dbjc4n r-1loqt21 r-1otgn73 r-1i6wzkk r-lrvibr" style="
                        -webkit-transition-duration: 0s;
                        transition-duration: 0s;
                      ">
                            <div class="css-1dbjc4n r-uia4a0 r-1awozwy r-ndvcnb r-18u37iz r-1777fci r-xyw6el" style="border-bottom-color: rgba(242, 243, 243, 1)">
                                <div class="css-1dbjc4n r-13awgt0">
                                    <div dir="auto" class="css-901oao r-t1w4ow r-1b43r93 r-rjixqe r-fdjqy7" style="color: rgba(3, 18, 26, 1); font-weight: 900">Số lượng khách tối đa</div>
                                </div>
                                <div class="css-1dbjc4n r-1777fci r-13hce6t r-14qw7yl r-axxi2z" style="
                            -webkit-transform: rotate(-180deg);
                            transform: rotate(-180deg);
                          ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-id="IcSystemChevronDown">
                                        <path d="M6 9L12 15L18 9" stroke="#0194f3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="css-1dbjc4n r-1udh08x r-14qw7yl" style="
                        height: 0px;
                        -webkit-transition-property: height;
                        transition-property: height;
                        -moz-transition-property: height;
                      ">
                            <div class="css-1dbjc4n r-nsbfu8 r-kzbkwu r-1e081e0 r-wk8lta r-14qw7yl r-axxi2z" style="
                          -webkit-transform: translateY(0px);
                          transform: translateY(0px);
                        ">
                                <div class="css-1dbjc4n r-1ihkh82 r-kdyh1x r-1udh08x" style="height: 20px; width: 218px">
                                    <div class="css-1dbjc4n r-k1fkm9" style="
                              -webkit-animation-duration: 750ms;
                              animation-duration: 750ms;
                              -webkit-animation-iteration-count: infinite;
                              animation-iteration-count: infinite;
                              -webkit-animation-timing-function: linear;
                              animation-timing-function: linear;
                              background-image: linear-gradient(
                                to right,
                                #f7f9fa,
                                #f2f3f3,
                                #f7f9fa
                              );
                              padding-top: 20px;
                              -webkit-transform: translateX(-100%);
                              transform: translateX(-100%);
                              width: 218px;
                            "></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="css-1dbjc4n">
                    <div class="css-1dbjc4n r-14lw9ot r-1xfd6ze r-1udh08x">
                        <div tabindex="0" class="css-1dbjc4n r-1loqt21 r-1otgn73 r-1i6wzkk r-lrvibr" style="
                        -webkit-transition-duration: 0s;
                        transition-duration: 0s;
                      ">
                            <div class="css-1dbjc4n r-uia4a0 r-1awozwy r-ndvcnb r-18u37iz r-1777fci r-xyw6el" style="border-bottom-color: rgba(242, 243, 243, 1)">
                                <div class="css-1dbjc4n r-13awgt0">
                                    <div dir="auto" class="css-901oao r-t1w4ow r-1b43r93 r-rjixqe r-fdjqy7" style="color: rgba(3, 18, 26, 1); font-weight: 900">Hạng sao</div>
                                </div>
                                <div class="css-1dbjc4n r-1777fci r-13hce6t r-14qw7yl r-axxi2z" style="
                            -webkit-transform: rotate(-180deg);
                            transform: rotate(-180deg);
                          ">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-id="IcSystemChevronDown">
                                        <path d="M6 9L12 15L18 9" stroke="#0194f3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="css-1dbjc4n r-1udh08x r-14qw7yl" style="
                        height: 0px;
                        -webkit-transition-property: height;
                        transition-property: height;
                        -moz-transition-property: height;
                      ">
                            <div class="css-1dbjc4n r-nsbfu8 r-kzbkwu r-1e081e0 r-wk8lta r-14qw7yl r-axxi2z" style="
                          -webkit-transform: translateY(0px);
                          transform: translateY(0px);
                        ">
                                <div class="css-1dbjc4n r-1ihkh82 r-kdyh1x r-1udh08x" style="height: 20px; width: 218px">
                                    <div class="css-1dbjc4n r-k1fkm9" style="
                              -webkit-animation-duration: 750ms;
                              animation-duration: 750ms;
                              -webkit-animation-iteration-count: infinite;
                              animation-iteration-count: infinite;
                              -webkit-animation-timing-function: linear;
                              animation-timing-function: linear;
                              background-image: linear-gradient(
                                to right,
                                #f7f9fa,
                                #f2f3f3,
                                #f7f9fa
                              );
                              padding-top: 20px;
                              -webkit-transform: translateX(-100%);
                              transform: translateX(-100%);
                              width: 218px;
                            "></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="css-1dbjc4n r-9wfyu0 r-bnwqim r-1i6dfp5 r-1o3kkbv" id="page-content">
            @{
                if (Model.Homestays.Count == 0 || Model.Homestays == null)
                {
                        <h1>Không tìm thấy kết quả nào</h1>
                }
                else
                {
                    for (var i = 0; i < Model.Homestays.Count; i++)
                    {
                            // <div data-index="@i" class="css-1dbjc4n r-1d2f490 r-1l7z4oj r-u8s1d r-ipm5af r-13qz1uu" style="-webkit-transform:translateY(0px);transform:translateY(0px)">
                            //     <div data-testid="list-card-inview-wrapper">
                            //         <div class="css-1dbjc4n" data-testid="tvat-searchListItem">
                            //             <div tabindex="0" class="css-1dbjc4n r-14lw9ot r-1xfd6ze r-da5iq2 r-zo7nv5 r-1loqt21 r-18u37iz r-f2a5c0 r-1otgn73 r-1i6wzkk r-lrvibr r-13qz1uu" style="-webkit-transition-duration:0s;transition-duration:0s" data-testid="tvat-searchListItem-content">
                            //                 <div class="css-1dbjc4n r-1pi2tsx r-bnwqim r-7ce9ev r-1ipicw7 r-184en5c" data-testid="list-view-card-carousel">
                            //                     <div tabindex="0" class="css-1dbjc4n r-391gc0 r-o8yidv r-1loqt21 r-bnwqim r-1otgn73 r-xi820d r-136ojw6" style="height:161px" data-testid="list-view-card-main-image-pressable">
                            //                         <div class="css-1dbjc4n r-14lw9ot r-o8yidv r-13awgt0">
                            //                             // <div class="css-1dbjc4n r-1awozwy r-391gc0 r-o8yidv r-1pi2tsx r-1777fci r-u8s1d r-13qz1uu">
                            //                             //     <svg width="36" height="36" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-id="IcBrandTintedTraveloka">
                            //                             //         <g clip-path="url(#clip0_10880_5996)">
                            //                             //             <path d="M15.9886 16.0268C15.9886 14.0528 18.3724 11.6204 19.4865 10.1939C21.5632 7.53787 24 5.00369 24 5.00369C24 5.00369 21.2666 5.31206 18.465 6.21272C16.7087 6.77652 15.0488 7.59063 13.3958 8.3995C13.3073 6.27545 13.4489 4.12079 13.5969 2C13.5969 2 9.56369 3.00599 8.26139 5.90024C7.5257 7.53724 8.72553 9.70817 9.01454 11.3204C9.14141 12.0365 8.74246 14.1024 7.52665 13.4945C7.0365 13.2401 6.22054 12.8296 5.52132 12.8223C5.03946 12.8223 4.69858 12.9923 4.41455 13.1339C4.16528 13.2582 3.90097 13.3748 3.61625 13.3698L0 12.6424C0 12.6424 2.36095 13.5555 4.25 14.5C5.22762 14.9888 5.75278 15.4971 6.25943 15.9874C6.78926 16.5002 7.29886 16.9934 8.28455 17.4243C10.2083 18.2631 13.0065 18.7688 15.5 19.5C18.0862 20.2674 20.0568 21.0384 20.6976 21.3836C20.4968 21.2735 20.4721 21.0343 20.5 21C20.553 20.9223 21.1995 21.1212 21.1995 21.1212C19.2753 20.2945 15.9478 18.5279 15.9886 16.0268Z" fill="#687176">
                            //                             //             </path>
                            //                             //             <path d="M15.9887 16.0043C15.9886 16.0118 15.9886 16.0193 15.9886 16.0268C15.9783 16.6591 16.1833 17.2445 16.5265 17.7797C14.8854 15.6821 13.3292 9.05031 13.3973 8.3987L13.4263 8.3845C14.0737 8.0677 14.7223 7.75033 15.3774 7.44775C15.358 7.97928 15.2069 12.824 15.9887 16.0043Z" fill="#354148">
                            //                             //             </path>
                            //                             //         </g>
                            //                             //         <defs>
                            //                             //             <clipPath id="clip0_10880_5996">
                            //                             //                 <rect width="24" height="24" fill="white">
                            //                             //                 </rect>
                            //                             //             </clipPath>
                            //                             //         </defs>
                            //                             //     </svg>
                            //                             // </div>
                            //                             // <img data-testid="list-view-card-main-image" loading="eager" importance="high" fetchpriority="high" src="https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10019241-1798x1419-FIT_AND_TRIM-8b863abd52df5a14e92409e000613d7d.jpeg?_src=imagekit&amp;tr=f-jpg,fo-auto,h-161,pr-true,q-100,w-300" srcset="https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10019241-1798x1419-FIT_AND_TRIM-8b863abd52df5a14e92409e000613d7d.jpeg?_src=imagekit&amp;tr=f-jpg,fo-auto,h-161,pr-true,q-100,w-300 1x, https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10019241-1798x1419-FIT_AND_TRIM-8b863abd52df5a14e92409e000613d7d.jpeg?_src=imagekit&amp;tr=dpr-2,f-jpg,fo-auto,h-161,pr-true,q-100,w-300 2x, https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10019241-1798x1419-FIT_AND_TRIM-8b863abd52df5a14e92409e000613d7d.jpeg?_src=imagekit&amp;tr=dpr-3,f-jpg,fo-auto,h-161,pr-true,q-100,w-300 3x" decoding="async" width="300" height="161" class="r-o8yidv r-u8s1d" style="object-fit:cover;object-position:50% 50%">
                            //                             <div class="css-1dbjc4n r-u8s1d r-jn5ml r-1yxedwg" data-testid="hotel-ribbon-display"><img importance="low" loading="lazy" src="https://ik.imagekit.io/tvlk/image/imageResource/2024/06/27/1719470408539-5d0cec8628632eb9a3bb030454aad80e.png?tr=h-46,q-75" srcset="https://ik.imagekit.io/tvlk/image/imageResource/2024/06/27/1719470408539-5d0cec8628632eb9a3bb030454aad80e.png?tr=h-46,q-75 1x, https://ik.imagekit.io/tvlk/image/imageResource/2024/06/27/1719470408539-5d0cec8628632eb9a3bb030454aad80e.png?tr=dpr-2,h-46,q-75 2x, https://ik.imagekit.io/tvlk/image/imageResource/2024/06/27/1719470408539-5d0cec8628632eb9a3bb030454aad80e.png?tr=dpr-3,h-46,q-75 3x" decoding="async" height="46" style="object-fit:fill;object-position:50% 50%"></div>
                            //                         </div>
                            //                     </div>
                            //                     <div>
                            //                         <div class="css-1dbjc4n r-1awozwy r-1wh2hl7 r-4p4z8t r-18u37iz r-sga3zk r-1udh08x r-bnwqim r-184en5c">
                            //                             // <div tabindex="0" class="css-1dbjc4n r-1loqt21 r-13awgt0 r-sga3zk r-1otgn73">
                            //                             //     <img loading="eager" importance="low" src="https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10019241-800x518-FIT_AND_TRIM-519e495dd0a4b9e1c786d6cbf2bdb205.png?_src=imagekit&amp;tr=f-jpg,fo-auto,h-64,pr-true,q-100,w-98.66666666666667" srcset="https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10019241-800x518-FIT_AND_TRIM-519e495dd0a4b9e1c786d6cbf2bdb205.png?_src=imagekit&amp;tr=f-jpg,fo-auto,h-64,pr-true,q-100,w-98.66666666666667 1x, https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10019241-800x518-FIT_AND_TRIM-519e495dd0a4b9e1c786d6cbf2bdb205.png?_src=imagekit&amp;tr=dpr-2,f-jpg,fo-auto,h-64,pr-true,q-100,w-98.66666666666667 2x, https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10019241-800x518-FIT_AND_TRIM-519e495dd0a4b9e1c786d6cbf2bdb205.png?_src=imagekit&amp;tr=dpr-3,f-jpg,fo-auto,h-64,pr-true,q-100,w-98.66666666666667 3x" decoding="async" width="98.66666666666667" height="64" style="object-fit:cover;object-position:50% 50%">
                            //                             // </div><div tabindex="0" class="css-1dbjc4n r-1loqt21 r-13awgt0 r-sga3zk r-1otgn73"><img loading="eager" importance="low" src="https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10019241-2576x1720-FIT_AND_TRIM-a72e082023dc595c59f17189543b0ec6.jpeg?_src=imagekit&amp;tr=f-jpg,fo-auto,h-64,pr-true,q-100,w-98.66666666666667" srcset="https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10019241-2576x1720-FIT_AND_TRIM-a72e082023dc595c59f17189543b0ec6.jpeg?_src=imagekit&amp;tr=f-jpg,fo-auto,h-64,pr-true,q-100,w-98.66666666666667 1x, https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10019241-2576x1720-FIT_AND_TRIM-a72e082023dc595c59f17189543b0ec6.jpeg?_src=imagekit&amp;tr=dpr-2,f-jpg,fo-auto,h-64,pr-true,q-100,w-98.66666666666667 2x, https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10019241-2576x1720-FIT_AND_TRIM-a72e082023dc595c59f17189543b0ec6.jpeg?_src=imagekit&amp;tr=dpr-3,f-jpg,fo-auto,h-64,pr-true,q-100,w-98.66666666666667 3x" decoding="async" width="98.66666666666667" height="64" style="object-fit:cover;object-position:50% 50%"></div><div tabindex="0" class="css-1dbjc4n r-1loqt21 r-13awgt0 r-sga3zk r-1otgn73"><img loading="eager" importance="low" src="https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10019241-1600x1200-FIT_AND_TRIM-182c852590a7f311db4f32141ba50302.jpeg?_src=imagekit&amp;tr=f-jpg,fo-auto,h-64,pr-true,q-100,w-98.66666666666667" srcset="https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10019241-1600x1200-FIT_AND_TRIM-182c852590a7f311db4f32141ba50302.jpeg?_src=imagekit&amp;tr=f-jpg,fo-auto,h-64,pr-true,q-100,w-98.66666666666667 1x, https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10019241-1600x1200-FIT_AND_TRIM-182c852590a7f311db4f32141ba50302.jpeg?_src=imagekit&amp;tr=dpr-2,f-jpg,fo-auto,h-64,pr-true,q-100,w-98.66666666666667 2x, https://ik.imagekit.io/tvlk/apr-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10019241-1600x1200-FIT_AND_TRIM-182c852590a7f311db4f32141ba50302.jpeg?_src=imagekit&amp;tr=dpr-3,f-jpg,fo-auto,h-64,pr-true,q-100,w-98.66666666666667 3x" decoding="async" width="98.66666666666667" height="64" style="object-fit:cover;object-position:50% 50%"><div class="css-1dbjc4n r-1awozwy r-1fdnko3 r-sga3zk r-1777fci r-1udh08x r-edyy15 r-u8s1d r-zchlnj r-ipm5af r-18arpcz r-184en5c"><div dir="auto" class="css-901oao r-jwli3a r-t1w4ow r-1enofrn r-majxgm r-1cwl3u0 r-fdjqy7">Xem ảnh</div></div></div>
                            //                         </div>
                            //                     </div>
                            //                 </div>
                            //                 <div class="css-1dbjc4n r-13awgt0 r-1wtj0ep r-1f1sjgu r-bnwqim r-417010">
                            //                     <div class="css-1dbjc4n">
                            //                         <div class="css-1dbjc4n r-18u37iz">
                            //                             <div class="css-1dbjc4n r-13awgt0 r-1w6e6rj r-1udh08x r-11g3r6m"><h3 aria-level="3" dir="auto" role="heading" class="css-4rbku5 css-901oao css-cens5h r-t1w4ow r-ubezar r-b88u0q r-rjixqe r-fdjqy7" style="-webkit-line-clamp:2;color:rgba(3,18,26,1.00)" data-testid="tvat-hotelName">@Model.Homestays[i].HotelName</h3></div><div class="css-1dbjc4n r-obd0qt r-eqz5dr" style="">
                            //                                 <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1h0z5md">
                            //                                     <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-id="IcBrandTraveloka"><g clip-path="url(#clip0_5387_0)"><path d="M15.9886 16.0268C15.9886 14.0528 18.3724 11.6204 19.4865 10.1939C21.5632 7.53787 24 5.00369 24 5.00369C24 5.00369 21.2666 5.31206 18.465 6.21272C16.7087 6.77652 15.0488 7.59063 13.3958 8.3995C13.3073 6.27545 13.4489 4.12079 13.5969 2C13.5969 2 9.56369 3.00599 8.26139 5.90024C7.5257 7.53724 8.72553 9.70817 9.01454 11.3204C9.14141 12.0365 8.74246 14.1024 7.52665 13.4945C7.0365 13.2401 6.22054 12.8296 5.52132 12.8223C5.03946 12.8223 4.69858 12.9923 4.41455 13.1339C4.16528 13.2582 3.90097 13.3748 3.61625 13.3698L0 12.6424C0 12.6424 2.36095 13.5555 4.25 14.5C5.22762 14.9888 5.75278 15.4971 6.25943 15.9874C6.78926 16.5002 7.29886 16.9934 8.28455 17.4243C10.2083 18.2631 13.0065 18.7688 15.5 19.5C18.0862 20.2674 20.0568 21.0384 20.6976 21.3836C20.4968 21.2735 20.4721 21.0343 20.5 21C20.553 20.9223 21.1995 21.1212 21.1995 21.1212C19.2753 20.2945 15.9478 18.5279 15.9886 16.0268Z" fill="#1BA0E2"></path><path d="M15.9887 16.0043C15.9886 16.0118 15.9886 16.0193 15.9886 16.0268C15.9783 16.6591 16.1833 17.2445 16.5265 17.7797C14.8854 15.6821 13.3292 9.05031 13.3973 8.3987L13.4263 8.3845C14.0737 8.0677 14.7223 7.75033 15.3774 7.44775C15.358 7.97928 15.2069 12.824 15.9887 16.0043Z" fill="#0F7EA6"></path></g><defs><clipPath id="clip0_5387_0"><rect width="24" height="24" fill="white"></rect></clipPath></defs></svg><div class="css-1dbjc4n" style="padding-right:0px"></div><div dir="auto" class="css-901oao r-t1w4ow r-1b43r93 r-b88u0q r-rjixqe r-fdjqy7" style="color:rgba(1,148,243,1.00)" data-testid="tvat-ratingScore"> 8.6 <span class="css-901oao css-16my406 r-t1w4ow r-1b43r93 r-majxgm r-rjixqe r-fdjqy7" style="color:rgba(104,113,118,1.00)">(1,1&nbsp;N đánh giá)</span></div>
                            //                                 </div><div class="css-1dbjc4n" style="padding-bottom:0px"></div><div dir="auto" class="css-901oao r-t1w4ow r-1enofrn r-majxgm r-56xrmm r-fdjqy7" style="color:rgba(104,113,118,1.00)">Ấn tượng</div>
                            //                             </div>
                            //                         </div><div class="css-1dbjc4n r-eqz5dr" style="align-items: stretch; -webkit-box-align: stretch;"><div class="css-1dbjc4n r-1awozwy r-18u37iz r-1h0z5md r-tskmnb"><div class="css-1dbjc4n r-1awozwy r-1vjbqqu r-sdzlij r-1kbdv8c r-18u37iz r-tuq35u r-1vvnge1"><img importance="low" loading="lazy" src="https://ik.imagekit.io/tvlk/image/imageResource/2023/03/28/1679986877455-c9fba4a49268f20248a89a0b68c86973.png?tr=h-12,q-75,w-12" srcset="https://ik.imagekit.io/tvlk/image/imageResource/2023/03/28/1679986877455-c9fba4a49268f20248a89a0b68c86973.png?tr=h-12,q-75,w-12 1x, https://ik.imagekit.io/tvlk/image/imageResource/2023/03/28/1679986877455-c9fba4a49268f20248a89a0b68c86973.png?tr=dpr-2,h-12,q-75,w-12 2x, https://ik.imagekit.io/tvlk/image/imageResource/2023/03/28/1679986877455-c9fba4a49268f20248a89a0b68c86973.png?tr=dpr-3,h-12,q-75,w-12 3x" decoding="async" width="12" height="12" style="object-fit: fill; object-position: 50% 50%;"><div dir="auto" class="css-901oao r-t1w4ow r-1gkfh8e r-majxgm r-1p6fy00 r-fdjqy7" style="color:rgba(2,100,200,1.00)">Khách sạn</div></div><div class="css-1dbjc4n r-1hvjb8t"></div><div class="css-1dbjc4n"><div data-id="tvat-starRating" class="css-1dbjc4n r-18u37iz"><div class="css-1dbjc4n r-18u37iz" style="gap:4px"><img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/e/e4cb5ddfa3d1399bc496ee6b6539a5a7.svg" width="12" height="12"><img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/e/e4cb5ddfa3d1399bc496ee6b6539a5a7.svg" width="12" height="12"><img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/e/e4cb5ddfa3d1399bc496ee6b6539a5a7.svg" width="12" height="12"><img src="https://d1785e74lyxkqq.cloudfront.net/_next/static/v2/e/e4cb5ddfa3d1399bc496ee6b6539a5a7.svg" width="12" height="12"></div></div></div></div><div class="css-1dbjc4n" style="padding-bottom:8px"></div><div class="css-1dbjc4n r-13qz1uu"><div class="css-1dbjc4n r-1awozwy r-18u37iz r-1h0z5md" data-testid="tvat-hotelLocation"><div class="css-1dbjc4n r-1awozwy r-18u37iz r-1h0z5md"><svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-id="IcSystemMapLocationFill"><path fill-rule="evenodd" clip-rule="evenodd" d="M21 10C21 7.25554 20.0331 4.98482 18.3787 3.40236C16.7312 1.8265 14.4725 1 12 1C9.52754 1 7.26876 1.8265 5.62128 3.40236C3.96688 4.98482 3 7.25554 3 10C3 13.4069 5.24119 16.5278 7.2718 18.6854C8.31023 19.7887 9.34524 20.694 10.1194 21.323C10.5073 21.6381 10.8316 21.8855 11.0609 22.0554C11.0795 22.0692 11.0982 22.0831 11.1169 22.0971C11.3805 22.2937 11.6567 22.4998 12 22.4998C12.3432 22.4999 12.6194 22.2938 12.8829 22.0972C12.9017 22.0832 12.9205 22.0692 12.9391 22.0554C13.1684 21.8855 13.4927 21.6381 13.8806 21.323C14.6548 20.694 15.6898 19.7887 16.7282 18.6854C18.7588 16.5278 21 13.4069 21 10ZM15.5 9.5C15.5 11.433 13.933 13 12 13C10.067 13 8.5 11.433 8.5 9.5C8.5 7.567 10.067 6 12 6C13.933 6 15.5 7.567 15.5 9.5Z" fill="#687176"></path></svg><div class="css-1dbjc4n r-1hvjb8t"></div><div dir="auto" class="css-901oao r-t1w4ow r-1b43r93 r-majxgm r-rjixqe r-fdjqy7" style="color:rgba(3,18,26,1.00)">An Hải Tây, Đà Nẵng</div></div></div><div class="css-1dbjc4n r-1awozwy r-1kbdv8c r-18u37iz r-1udh08x" id="hotel-feature-section-1000000441652" data-testid="hotel-feature-section"><div class="css-1dbjc4n r-1awozwy r-391gc0 r-sdzlij r-1kbdv8c r-18u37iz r-s1qlax r-1vvnge1" style="margin-top:4px" id="hotel-feature-badge-1000000441652-0" data-testid="hotel-feature-badge-0"><div dir="auto" class="css-901oao css-bfa6kz r-t1w4ow r-1enofrn r-majxgm r-56xrmm r-fdjqy7" style="color:rgba(3,18,26,1.00)">Quầy bar</div></div><div class="css-1dbjc4n r-1awozwy r-391gc0 r-sdzlij r-1kbdv8c r-18u37iz r-s1qlax r-1vvnge1" style="margin-top:4px" id="hotel-feature-badge-1000000441652-1" data-testid="hotel-feature-badge-1"><div dir="auto" class="css-901oao css-bfa6kz r-t1w4ow r-1enofrn r-majxgm r-56xrmm r-fdjqy7" style="color:rgba(3,18,26,1.00)">Máy sấy quần áo</div></div><div class="css-1dbjc4n r-1awozwy r-391gc0 r-sdzlij r-1kbdv8c r-18u37iz r-s1qlax r-1vvnge1" style="margin-top:4px" id="hotel-feature-badge-1000000441652-2" data-testid="hotel-feature-badge-2"><div dir="auto" class="css-901oao css-bfa6kz r-t1w4ow r-1enofrn r-majxgm r-56xrmm r-fdjqy7" style="color:rgba(3,18,26,1.00)">Sân thượng/Sân hiên</div></div><div class="css-1dbjc4n"><div class="css-1dbjc4n r-1awozwy r-1ihkh82 r-sdzlij r-1kbdv8c r-18u37iz r-s1qlax r-1vvnge1" style="margin-top: 4px;" id="hotel-feature-tooltip-anchor" data-testid="hotel-feature-tooltip-anchor"><div dir="auto" class="css-901oao r-t1w4ow r-1enofrn r-majxgm r-56xrmm r-fdjqy7" style="color:rgba(104,113,118,1.00)">3+</div></div></div></div></div></div>
                            //                     </div><div class="css-1dbjc4n r-obd0qt r-18u37iz r-1wtj0ep r-13qz1uu"><div class="css-1dbjc4n r-eqz5dr r-1rxb9bi" style="align-items: stretch; -webkit-box-align: stretch;"><div class="css-1dbjc4n r-1awozwy r-18u37iz r-1h0z5md"><div class="css-1dbjc4n r-sdzlij r-tuq35u" style="background-color:rgba(228,13,20,1.00)" data-testid="insider-display-section"><div class="css-1dbjc4n r-1awozwy r-18u37iz r-1h0z5md"><img data-testid="insider-display-icon" importance="low" loading="lazy" src="https://ik.imagekit.io/tvlk/image/imageResource/2022/02/17/1645093621467-9db261346f23c20dcf28fe921ad16cfa.png?tr=h-16,q-75,w-16" srcset="https://ik.imagekit.io/tvlk/image/imageResource/2022/02/17/1645093621467-9db261346f23c20dcf28fe921ad16cfa.png?tr=h-16,q-75,w-16 1x, https://ik.imagekit.io/tvlk/image/imageResource/2022/02/17/1645093621467-9db261346f23c20dcf28fe921ad16cfa.png?tr=dpr-2,h-16,q-75,w-16 2x, https://ik.imagekit.io/tvlk/image/imageResource/2022/02/17/1645093621467-9db261346f23c20dcf28fe921ad16cfa.png?tr=dpr-3,h-16,q-75,w-16 3x" decoding="async" width="16" height="16" style="object-fit: fill; object-position: 50% 50%;"><div class="css-1dbjc4n r-1pyaxff" style=""></div><div dir="auto" class="css-901oao css-bfa6kz r-jwli3a r-t1w4ow r-1enofrn r-majxgm r-1cwl3u0 r-fdjqy7" data-testid="insider-display-text">Nhập KSANFLASH77 giảm đến 777K từ 11-12h &amp; 19-20h</div></div></div></div></div></div>
                            //                 </div><div class="css-1dbjc4n r-obd0qt r-bpzfx7 r-1pi2tsx r-17s6mgv r-ymttw5 r-1f1sjgu r-bnwqim r-l0gwng"><div class="css-1dbjc4n r-13qz1uu"><div class="css-1dbjc4n r-eqz5dr" style="align-items: stretch; -webkit-box-align: stretch;"><div class="css-1dbjc4n r-eqz5dr" style="align-items: stretch; -webkit-box-align: stretch;"><div class="css-1dbjc4n r-1awozwy r-18u37iz r-1w6e6rj r-17s6mgv"><div class="css-1dbjc4n r-sdzlij r-tuq35u" style="background-color:rgba(252,227,228,1.00);max-width:100%"><div class="css-1dbjc4n r-1awozwy r-18u37iz r-1w6e6rj r-17s6mgv"><img importance="low" loading="lazy" src="https://ik.imagekit.io/tvlk/image/imageResource/2021/11/21/1637537013315-9b5099f85871a7a15be712baf883fb44.png?tr=h-16,q-75,w-16" srcset="https://ik.imagekit.io/tvlk/image/imageResource/2021/11/21/1637537013315-9b5099f85871a7a15be712baf883fb44.png?tr=h-16,q-75,w-16 1x, https://ik.imagekit.io/tvlk/image/imageResource/2021/11/21/1637537013315-9b5099f85871a7a15be712baf883fb44.png?tr=dpr-2,h-16,q-75,w-16 2x, https://ik.imagekit.io/tvlk/image/imageResource/2021/11/21/1637537013315-9b5099f85871a7a15be712baf883fb44.png?tr=dpr-3,h-16,q-75,w-16 3x" decoding="async" width="16" height="16" style="object-fit: fill; object-position: 50% 50%;"><div class="css-1dbjc4n r-1pyaxff" style=""></div><div dir="auto" class="css-901oao css-bfa6kz r-13awgt0 r-t1w4ow r-1enofrn r-majxgm r-1cwl3u0 r-fdjqy7" style="color:rgba(231,9,14,1.00)" data-testid="tvat-promoInfo">DEAL CHỌN LỌC</div></div></div></div><div class="css-1dbjc4n" style="padding-bottom:4px"></div><div class="css-1dbjc4n"><div class="css-1dbjc4n r-eqz5dr" style="align-items: stretch; -webkit-box-align: stretch;"><div dir="auto" class="css-901oao r-t1w4ow r-1b43r93 r-majxgm r-rjixqe r-1ff274t" style="color:rgba(104,113,118,1.00);-webkit-text-decoration-line:line-through;text-decoration-line:line-through" data-testid="tvat-originalPrice">1.456.595 VND</div><div class="css-1dbjc4n" style="padding-bottom:4px"></div><div class="css-1dbjc4n r-eqz5dr" style="align-items: stretch; -webkit-box-align: stretch;"><div dir="auto" class="css-901oao r-t1w4ow r-b88u0q r-135wba7 r-1ff274t" style="color:rgba(255,94,31,1.00);font-size:20px" data-testid="tvat-hotelPrice">865.645 VND</div><div class="css-1dbjc4n" style="padding-bottom:0px"></div><div class="css-1dbjc4n r-buy8e9" data-testid="alternating-list" style="height: 32px;"><div class="css-1dbjc4n r-6koalj r-1h0z5md" data-testid="alternating-item-0" style="height: 32px; opacity: 1; transform: translateY(0px); transition: opacity 500ms ease-out 0s;"><div dir="auto" class="css-901oao r-t1w4ow r-1enofrn r-majxgm r-1cwl3u0 r-1ff274t" data-testid="per-room-per-night-label" style="color: rgb(104, 113, 118);">Chưa bao gồm thuế và phí</div></div></div></div></div></div></div><div class="css-1dbjc4n r-1l7z4oj"></div><div class="css-1dbjc4n r-obd0qt r-eqz5dr" style=""><div aria-live="polite" role="button" tabindex="0" class="css-18t94o4 css-1dbjc4n r-kdyh1x r-1loqt21 r-10paoce r-1e081e0 r-5njf8e r-1otgn73 r-lrvibr" style="background-color:rgba(255,94,31,1.00)" data-testid="select-room-button"><div dir="auto" class="css-901oao r-1yadl64 r-1vonz36 r-109y4c4 r-1cis278 r-1udh08x r-t60dpp r-u8s1d r-3s2u2q r-92ng3h">Chọn phòng</div><div class="css-1dbjc4n r-1awozwy r-13awgt0 r-18u37iz r-1777fci" style="opacity:1"><div dir="auto" aria-hidden="true" class="css-901oao css-bfa6kz r-jwli3a r-t1w4ow r-1o4mh9l r-b88u0q r-f0eezp r-q4m81j">Chọn phòng</div></div></div></div></div></div></div>
                            //             </div>
                            //         </div>
                            //     </div>
                            // </div>

                        <div class="container mt-5">
                            <div class="homestay-card">
                                <div>
                                    <img src="@Model.Homestays[i].HotelImage" alt="Homestay Image" class="homestay-img">
                                </div>
                                <div class="homestay-details">
                                    <h5>@Model.Homestays[i].HotelName</h5>
                                    <div>
                                        <span class="star-rating">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                                        <span>8.7 (789 đánh giá)</span>
                                    </div>
                                    <div>
                                        <i class="fas fa-map-marker-alt"></i> @Model.Homestays[i].Address, @Model.Homestays[i].City 
                                    </div>
                                    <div class="services mt-2">
                                    </div>
                                </div>
                                <div class="homestay-price">
                                    <div>571.429 VND</div>
                                    <div class="text-muted">Chưa bao gồm thuế và phí</div>
                                    <button class="btn btn-warning mt-2">Chọn phòng</button>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

<script src="~/lib/bootstrap-daterangepicker/daterangepicker.js" defer></script>
<script src="~/lib/bootstrap-daterangepicker/moment.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="/lib/bootstrap-daterangepicker/daterangepicker.css" />
<script>
    $(function () {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left',
            locale: {
                format: 'DD/MM/YYYY'
            }
        }, function (start, end, label) {
            // Find nights and round it
            var nights = Math.floor(moment.duration(end.diff(start)).asDays());
            console.log(nights);

            //Change date format for daterange name input
            // $('input[name="daterange"]').val(start.format('DD [thg] MM YYYY') + ' - ' + end.format('DD [thg] MM YYYY') + ', ' + nights + ' đêm');
            //set checkInDate and nights hidden input

            setCheckInDateInput(start.format('MM/DD/YYYY HH:mm:ss'), nights);
        });
    });

    $.getScript('https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js', function () {
        $("#js-range-slider").ionRangeSlider({
            type: "double",
            skin: "round",
            min: 0,
            max: 100.000,
            from: 200,
            to: 500,
            prefix: '₫',
            prettify_enabled: true,
            prettify_separator: ",",
        });
    }); //script


    function setCheckInDateInput(checkInDateVal, nightsVal) {
        let checkInDateInput = document.getElementById('checkInDateInput');
        let nightsInput = document.getElementById('nightsInput');

        checkInDateInput.value = checkInDateVal;
        nightsInput.value = nightsVal;
    }


</script>