@page
@model Group5_SE1730_BookingManagement.Pages.Hotel.RoomManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].MaxGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Homestay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].RoomType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Room) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxGuests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Homestay.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
