@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="css-1dbjc4n r-mwx11u r-16wqof">
    <div class="css-1dbjc4n r-m53kd2 r-1pi2tsx r-1d2f490 r-1g80hic r-u8s1d r-ipm5af r-13qz1uu"></div>
    <div tabindex="0">
        <div class="css-1dbjc4n r-knv0ih r-1udh08x">
            <div class="css-1dbjc4n r-zo7nv5 r-6koalj r-18u37iz r-1jgb5lz r-bnwqim r-16k0tzm">
                <div class="css-1dbjc4n r-u8s1d" style="
                  height: 230px;
                  opacity: 1;
                  -webkit-transform: scale(1) perspective(1000px);
                  transform: scale(1) perspective(1000px);
                  width: 472px;
                  justify-content: center;
                ">
                    <div class="css-1dbjc4n r-6koalj r-1pi2tsx r-1777fci r-13qz1uu">
                        <h1 aria-level="1" dir="auto" role="heading" class="css-4rbku5 css-901oao r-t1w4ow r-1x35g6 r-majxgm r-vrz42v r-1peese0 r-fdjqy7" style="color: rgba(255, 255, 255, 1)"><span>Tìm, đặt phòng khách sạn giá rẻ chỉ với 3 bước đơn giản!</span></h1>
                        <div class="css-1dbjc4n r-1adg3ll">
                            <h2 aria-level="2" dir="auto" role="heading" class="css-4rbku5 css-901oao r-1471scf r-t1w4ow r-adyw6z r-majxgm r-vrz42v r-1g80hic r-fdjqy7" style="color: rgba(255, 255, 255, 1)"><span>Khám phá ngay những ưu đãi tốt nhất dành cho bạn tại Traveloka!</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="css-1dbjc4n r-zo7nv5 r-6koalj r-18u37iz r-1jgb5lz r-bnwqim r-16k0tzm" style="
                min-height: 230px;
                -webkit-transform: translate(488px) perspective(1000px);
                transform: translate(488px) perspective(1000px);
              "></div>
            <div class="css-1dbjc4n r-1awozwy r-6koalj r-18u37iz r-1777fci r-5njf8e r-q4m81j r-lrvibr">
                <div class="css-1dbjc4n r-6koalj r-todpsx r-1aockid">
                    <img src="images/ed0a03f612f3cf232a6009d826f0ddba.svg" height="16">
                </div>
                <div class="css-1dbjc4n r-1iusvr4 r-16y2uox r-1r2vb7i"></div>
                <a style="
                  text-decoration: none;
                  display: flex;
                  align-content: center;
                " href="/vi-vn/promotion" target="_blank" rel="noopener noreferrer">
                    <div dir="auto" class="css-901oao r-jwli3a r-t1w4ow r-1enofrn r-1vr29t4 r-1cwl3u0 r-1g80hic r-q4m81j r-qpwdfp">
                        Xem thêm khuyến mãi
                    </div>
                </a>
                <div class="css-1dbjc4n r-1iusvr4 r-16y2uox r-1r2vb7i"></div>
                <div class="css-1dbjc4n r-6koalj r-todpsx r-1aockid">
                    <img src="images/5a0b03517b812a9691e66f119b9830b0.svg" height="16">
                </div>
            </div>
        </div>
    </div>
</div>

<form method="post">
    @* <input name="__RequestVerificationToken" type="hidden" value="@Antiforgery.GetAndStoreTokens(HttpContext).RequestToken" /> *@
    <div class="css-1dbjc4ne">
        <div tabindex="0" class="css-1dbjc4n r-ywje51 r-1jgb5lz r-4u6olh r-uwe93p">
            <div class="css-1dbjc4n r-14lw9ot r-kdyh1x r-b4qz5r r-bztko3">
                @*             <div class="css-1dbjc4n r-1habvwh r-1ihkh82 r-o8yidv r-ir6n1k r-18u37iz r-1wtj0ep r-mvpalk">
                <div tabindex="0" class="css-1dbjc4n r-1loqt21 r-1otgn73 r-1i6wzkk r-lrvibr" style="-webkit-transition-duration:0s;transition-duration:0s" data-testid="entry-point-recently-viewed">
                <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1qhn6m8 r-1f1sjgu"><div class="css-1dbjc4n r-1kb76zh"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-id="IcSystemToolRecentSearch"><path d="M16.5 15L22 20.5M4.78988 12C4.60128 11.3663 4.5 10.695 4.5 10C4.5 6.13401 7.63401 3 11.5 3C15.366 3 18.5 6.13401 18.5 10C18.5 13.866 15.366 17 11.5 17C10.0128 17 8.63383 16.5362 7.5 15.7453M2.5 9.75L4.75 12L7 9.75" stroke="#0194f3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M11 6.5V10H14" stroke="#0194F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg></div><div dir="auto" class="css-901oao r-t1w4ow r-1b43r93 r-b88u0q r-rjixqe r-fdjqy7" style="color:rgba(1,148,243,1.00)">Khách sạn xem gần đây</div></div>
                </div>
                </div> *@
                <div class="css-1dbjc4n" style="padding-top:16px;padding-right:16px;padding-bottom:16px;padding-left:16px">
                    <div class="css-1dbjc4n" style="-webkit-align-items:stretch;align-items:stretch;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-ms-flex-align:stretch;-webkit-box-align:stretch;-webkit-box-orient:vertical;-webkit-box-direction:normal">
                        <div class="css-1dbjc4n r-tqpus0">
                            <div tabindex="0" class="css-1dbjc4n r-1loqt21">
                                <div class="css-1dbjc4n">
                                    <label class="css-1dbjc4n r-18u37iz r-oyd9sg">
                                        <div dir="auto" class="css-901oao css-cens5h r-t1w4ow r-1b43r93 r-majxgm r-rjixqe r-fdjqy7 r-13qz1uu" style="-webkit-line-clamp:2;color:rgba(104,113,118,1.00)">Thành phố, địa điểm hoặc tên khách sạn:...</div>
                                    </label>
                                    <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1777fci r-edyy15">
                                        <div class="css-1dbjc4n r-14lw9ot r-kdyh1x r-rs99b7 r-1p0dtai r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-1wyyakw" style="border-top-color:rgba(205,208,209,1.00);border-right-color:rgba(205,208,209,1.00);border-bottom-color:rgba(205,208,209,1.00);border-left-color:rgba(205,208,209,1.00);height:calc(100% - 2);-webkit-transition-delay:0ms;transition-delay:0ms;-webkit-transition-duration:200ms;transition-duration:200ms;-webkit-transition-property:width, height, border-color, border-width, background-color;transition-property:width, height, border-color, border-width, background-color;-webkit-transition-timing-function:ease;transition-timing-function:ease;width:calc(100% - 2);will-change:width, height, border-color, border-width, background-color;-moz-transition-property:width, height, border-color, border-width, background-color">
                                        </div>
                                        @*                                         <div class="css-1dbjc4n r-1kb76zh">
                                        <img src="images/7f57d24fd3db681418a3694bd71cb93b.svg" width="24" height="24">
                                        </div> *@
                                        <input type="text" placeholder="Thành phố, khách sạn, điểm đến" name="Destination" aria-invalid="false" autocapitalize="sentences" autocomplete="on" autocorrect="on" dir="auto" spellcheck="true" class="css-11aywtz r-13awgt0 r-t1w4ow r-majxgm r-135wba7 r-bcqeeo r-1ny4l3l r-10paoce r-13n6l4s" style="color:rgba(3,18,26,1.00);font-size:16px" data-testid="autocomplete-field" value="@Model.Destination">        
                                    </div>
                                    <span asp-validation-for="Destination" class="text-danger"></span>
                                    <div aria-live="polite" class="css-1dbjc4n"></div>
                                </div>
                            </div>
                            <div></div>
                        </div>
                        <div class="css-1dbjc4n" style="padding-bottom:16px">
                        </div>
                        <div class="css-1dbjc4n r-obd0qt r-18u37iz r-69vrnd r-tqpus0">
                            <div class="css-1dbjc4n r-1e081e0 r-1ux73yq r-tqpus0">
                                <div class="css-1dbjc4n r-tqpus0">
                                    <div tabindex="0" class="css-1dbjc4n r-1loqt21">
                                        <div class="css-1dbjc4n">
                                            <label class="css-1dbjc4n r-18u37iz r-oyd9sg">
                                                <div dir="auto" class="css-901oao css-cens5h r-t1w4ow r-1b43r93 r-majxgm r-rjixqe r-fdjqy7 r-13qz1uu" style="-webkit-line-clamp:2;color:rgba(104,113,118,1.00)">Nhận phòng:</div>
                                            </label>
                                            <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1777fci r-edyy15">
                                                <div class="css-1dbjc4n r-14lw9ot r-kdyh1x r-rs99b7 r-1p0dtai r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-1wyyakw" style="border-top-color:rgba(205,208,209,1.00);border-right-color:rgba(205,208,209,1.00);border-bottom-color:rgba(205,208,209,1.00);border-left-color:rgba(205,208,209,1.00);height:calc(100% - 2);-webkit-transition-delay:0ms;transition-delay:0ms;-webkit-transition-duration:200ms;transition-duration:200ms;-webkit-transition-property:width, height, border-color, border-width, background-color;transition-property:width, height, border-color, border-width, background-color;-webkit-transition-timing-function:ease;transition-timing-function:ease;width:calc(100% - 2);will-change:width, height, border-color, border-width, background-color;-moz-transition-property:width, height, border-color, border-width, background-color">
                                                </div>
                                                @*                                                 <div class="css-1dbjc4n r-1kb76zh">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-id="IcSystemCalendar">
                                                <path d="M7 2V5M17 2V5M3 8H21M11.5 11.5H12.5V12.5H11.5V11.5ZM11.5 16.5H12.5V17.5H11.5V16.5ZM16.5 11.5H17.5V12.5H16.5V11.5ZM6.5 16.5H7.5V17.5H6.5V16.5ZM5 21H19C20.1046 21 21 20.1046 21 19V6C21 4.89543 20.1046 4 19 4H5C3.89543 4 3 4.89543 3 6V19C3 20.1046 3.89543 21 5 21Z" stroke="#687176" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                </path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 11.5V12.5H6.5V11.5H7.5Z" stroke="#0194F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                </path>
                                                </svg>
                                                </div> *@
                                                @* <input type="text" aria-invalid="false" autocapitalize="sentences" autocomplete="on" autocorrect="on" dir="auto" spellcheck="true" class="css-11aywtz r-13awgt0 r-t1w4ow r-majxgm r-135wba7 r-bcqeeo r-1ny4l3l r-10paoce r-13n6l4s" style="color:rgba(3,18,26,1.00);font-size:16px" data-testid="check-in-date-field" value="@Model.CheckInDate"> *@
                                                <input type="date" id="checkInDate" name="CheckInDate" class="css-11aywtz r-13awgt0 r-t1w4ow r-majxgm r-135wba7 r-bcqeeo r-1ny4l3l r-10paoce r-13n6l4s" value="@Model.CheckInDate.ToString("yyyy-MM-dd")" onchange="UpdateCheckoutValue()" />
                                                @*                                                 <span>@Model.GetFormattedDate(Model.CheckInDate)</span>
                                                *@
                                            </div>
                                            <span asp-validation-for="CheckInDate" class="text-danger"></span>
                                            <div aria-live="polite" class="css-1dbjc4n"></div>
                                        </div>
                                    </div><div></div>
                                </div>
                            </div>
                            <div class="css-1dbjc4n r-1e081e0 r-1ux73yq r-tqpus0">
                                <div class="css-1dbjc4n r-tqpus0">
                                    <div tabindex="0" class="css-1dbjc4n r-1loqt21">
                                        <div class="css-1dbjc4n">
                                            <label class="css-1dbjc4n r-18u37iz r-oyd9sg"><div dir="auto" class="css-901oao css-cens5h r-t1w4ow r-1b43r93 r-majxgm r-rjixqe r-fdjqy7 r-13qz1uu" style="-webkit-line-clamp:2;color:rgba(104,113,118,1.00)">Số đêm:</div></label><div class="css-1dbjc4n r-1awozwy r-18u37iz r-1777fci r-edyy15">
                                                <div class="css-1dbjc4n r-14lw9ot r-kdyh1x r-rs99b7 r-1p0dtai r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-1wyyakw" style="border-top-color:rgba(205,208,209,1.00);border-right-color:rgba(205,208,209,1.00);border-bottom-color:rgba(205,208,209,1.00);border-left-color:rgba(205,208,209,1.00);height:calc(100% - 2);-webkit-transition-delay:0ms;transition-delay:0ms;-webkit-transition-duration:200ms;transition-duration:200ms;-webkit-transition-property:width, height, border-color, border-width, background-color;transition-property:width, height, border-color, border-width, background-color;-webkit-transition-timing-function:ease;transition-timing-function:ease;width:calc(100% - 2);will-change:width, height, border-color, border-width, background-color;-moz-transition-property:width, height, border-color, border-width, background-color">
                                                </div>
                                                @*                                                 <div class="css-1dbjc4n r-1kb76zh">
                                                <img src="images/e0a90245b7343af73aa2eb421c0d8d55.svg" width="24" height="24">
                                                </div> *@
                                                <input value="@Model.Nights" name="Nights" type="number" value="1" aria-invalid="false" autocapitalize="sentences" autocomplete="on" autocorrect="on" dir="auto" spellcheck="true" class="css-11aywtz r-13awgt0 r-t1w4ow r-majxgm r-135wba7 r-bcqeeo r-1ny4l3l r-10paoce r-13n6l4s" style="color:rgba(3,18,26,1.00);font-size:16px" data-testid="duration-field" id="nights" onchange="UpdateCheckoutValue()"><span>đêm</span>
@*                                                 <div class="css-1dbjc4n r-1jkjb">
                                                    <img src="images/2ccc8e6550cf30429ba46132602a3c18.svg" width="16" height="16">
                                                </div> *@
                                            </div>
                                            <span asp-validation-for="Nights" class="text-danger"></span>
                                            <div aria-live="polite" class="css-1dbjc4n">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                            <div class="css-1dbjc4n r-1e081e0 r-1ux73yq r-tqpus0">
                                <div class="css-1dbjc4n">
                                    <div class="css-1dbjc4n r-cwxd7f r-b88u0q r-633pao r-u8s1d r-s5r7i3 r-1s3egr7"><div dir="auto" class="css-901oao r-cwxd7f r-t1w4ow r-1b43r93 r-b88u0q r-rjixqe r-fdjqy7 r-13qz1uu" style="padding:'0'">Trả phòng:</div></div><div class="css-1dbjc4n r-5njf8e">
                                        <div dir="auto" class="css-901oao r-cwxd7f r-t1w4ow r-ubezar r-majxgm r-135wba7 r-fdjqy7" data-testid="check-out-date" style="height:48px; padding-top:25px;" id="checkOutDate">@{@Model.GetFormattedDate(Model.CheckOutDate)}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="css-1dbjc4n" style="padding-bottom:16px">
                        </div>
                        <div class="css-1dbjc4n r-obd0qt r-18u37iz r-69vrnd" style="z-index:2">
                            <div class="css-1dbjc4n r-1e081e0 r-1dgsx37 r-tqpus0">
                                <div class="css-1dbjc4n">
                                    <div class="css-1dbjc4n r-tqpus0">
                                        <div tabindex="0" class="css-1dbjc4n r-1loqt21">
                                            <div class="css-1dbjc4n">
                                                <label class="css-1dbjc4n r-18u37iz r-oyd9sg">
                                                    <div dir="auto" class="css-901oao css-cens5h r-t1w4ow r-1b43r93 r-majxgm r-rjixqe r-fdjqy7 r-13qz1uu" style="-webkit-line-clamp:2;color:rgba(104,113,118,1.00)">Số lượng khách</div>
                                                </label>
                                                <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1777fci r-edyy15">
                                                    <div class="css-1dbjc4n r-14lw9ot r-kdyh1x r-rs99b7 r-1p0dtai r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-1wyyakw" style="border-top-color:rgba(205,208,209,1.00);border-right-color:rgba(205,208,209,1.00);border-bottom-color:rgba(205,208,209,1.00);border-left-color:rgba(205,208,209,1.00);height:calc(100% - 2);-webkit-transition-delay:0ms;transition-delay:0ms;-webkit-transition-duration:200ms;transition-duration:200ms;-webkit-transition-property:width, height, border-color, border-width, background-color;transition-property:width, height, border-color, border-width, background-color;-webkit-transition-timing-function:ease;transition-timing-function:ease;width:calc(100% - 2);will-change:width, height, border-color, border-width, background-color;-moz-transition-property:width, height, border-color, border-width, background-color">
                                                    </div>
@*                                                     <div class="css-1dbjc4n r-1kb76zh">
                                                        <img src="images/ae73fa0a5c08e7064d9dafe34d1408e8.svg" width="24" height="24">
                                                    </div> *@
                                                    <input type="number" name="Guests" value="@Model.Guests" aria-invalid="false" autocapitalize="sentences" autocomplete="on" autocorrect="on" dir="auto" spellcheck="true" class="css-11aywtz r-cwxd7f r-13awgt0 r-t1w4ow r-ubezar r-majxgm r-135wba7 r-bcqeeo r-1ny4l3l r-10paoce r-13n6l4s" data-testid="occupancy-field">
                                                    <div class="css-1dbjc4n r-1jkjb">
                                                        <img src="images/2ccc8e6550cf30429ba46132602a3c18.svg" width="16" height="16">
                                                    </div>
                                                </div>
                                                <span asp-validation-for="Guests" class="text-danger"></span>
                                                <div aria-live="polite" class="css-1dbjc4n"></div>
                                            </div>
                                        </div><div></div>
                                    </div><div class="css-1dbjc4n r-1d2f490 r-u8s1d r-zchlnj" style="-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-orient:vertical;-webkit-box-direction:normal"><div class="css-1dbjc4n r-1kihuf0 r-12ghvtk r-u8s1d r-14qw7yl r-1b8bd59" style="display:none;opacity:0;-webkit-transform:translateX(0px) translateY(-20px);transform:translateX(0px) translateY(-20px);width:auto"><div class="css-1dbjc4n r-1jkafct r-7d3vna r-1p0dtai r-1w2pmg r-1wyvozj r-u8s1d r-wxplv1 r-tcxvgb r-1h2t8mc r-184en5c" style="border-top-color:rgba(231,9,14,1.00);border-right-color:rgba(231,9,14,1.00);border-bottom-color:rgba(231,9,14,1.00);border-left-color:rgba(231,9,14,1.00)"></div><div class="css-1dbjc4n r-kdyh1x r-b4qz5r r-5oul0u r-1udh08x r-1e081e0 r-5njf8e r-184en5c" style="background-color:rgba(231,9,14,1.00)"><div dir="auto" class="css-901oao r-jwli3a r-t1w4ow r-ubezar r-majxgm r-135wba7 r-q4m81j"></div></div></div></div>
                                </div>
                            </div>
                            <div class="css-1dbjc4n r-1e081e0 r-1ux73yq r-tqpus0">
                                <div aria-live="polite" role="button" tabindex="0" class="css-18t94o4 css-1dbjc4n r-kdyh1x r-1loqt21 r-eu3ka r-10paoce r-1e081e0 r-5njf8e r-1otgn73 r-lrvibr" style="background-color:rgba(255,94,31,1.00)" data-testid="search-submit-button">
                                    <div dir="auto" class="css-901oao r-1yadl64 r-1vonz36 r-109y4c4 r-1cis278 r-1udh08x r-t60dpp r-u8s1d r-3s2u2q r-92ng3h">Tìm khách sạn</div><div class="css-1dbjc4n r-1awozwy r-13awgt0 r-18u37iz r-1777fci" style="opacity:1">
                                        @* <div dir="auto" aria-hidden="true" class="css-901oao r-1awozwy r-jwli3a r-6koalj r-1d4mawv">
                                            <img src="images/68a17a4492b3b7647bb89a5a03b15de0.svg">
                                        </div> *@
                                        <div dir="auto" aria-hidden="true" class="css-901oao css-bfa6kz r-jwli3a r-t1w4ow r-cygvgh r-b88u0q r-1iukymi r-q4m81j">
                                            <button type="submit" class="btn" style="background-color:transparent;color:white">Tìm khách sạn</button>
                                            @* <input type="submit" class="btn" style="background-color:transparent; color:white" value="Tìm khách sạn" /> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="css-1dbjc4n" style="padding-bottom:16px">
                        </div>
                        <div class="css-1dbjc4n r-obd0qt r-18u37iz r-69vrnd r-1e081e0">
                            <div class="css-1dbjc4n r-1awozwy r-18u37iz" style="-webkit-justify-content:flex-start;justify-content:flex-start;-ms-flex-pack:start;-webkit-box-pack:start">
                                <div tabindex="0" class="css-1dbjc4n r-1awozwy r-1loqt21 r-18u37iz r-1otgn73 r-1i6wzkk r-lrvibr" style="-webkit-transition-duration:0s;transition-duration:0s" data-testid="entry-point-pay-upon-check-in">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-id="IcHotelPayUponCheckIn">
                                        <path d="M19.5 14H21V10.9C21 8.1938 18.8062 6 16.1 6H13.5M6 11V10.9C6 8.1938 8.1938 6 10.9 6H13.5M19.5 17H21.5M13.5 6V3.5M15.5 9H16C17.1046 9 18 9.89543 18 11V11.5M3.75 8C3.75 8 4 6.5 5.25 5.25C6.5 4 8 3.75 8 3.75M2.25 5C2.25 5 2.5 4 3.25 3.25C4 2.5 5 2.25 5 2.25" stroke="#0194f3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        </path>
                                        <path d="M15 13.75L17 13.5V16M15 13.75V13.75C13.6703 13.9162 12.3269 13.9439 10.9914 13.8326L9.0086 13.6674C7.67314 13.5561 6.32974 13.5838 5 13.75V13.75M15 13.75V14C15 15.1046 15.8954 16 17 16V16M17 16V19M17 19V21L15 21.25M17 19V19C15.8954 19 15 19.8954 15 21V21.25M15 21.25V21.25C13.6703 21.4162 12.3269 21.4439 10.9914 21.3326L9.0086 21.1674C7.67314 21.0561 6.32974 21.0838 5 21.25V21.25M3 19V21.5L5 21.25M3 19V19C4.10457 19 5 19.8954 5 21V21.25M3 19V16M5 13.75L3 14V16M5 13.75V14C5 15.1046 4.10457 16 3 16V16M12 17.5C12 18.6046 11.1046 19.5 10 19.5C8.89543 19.5 8 18.6046 8 17.5C8 16.3954 8.89543 15.5 10 15.5C11.1046 15.5 12 16.3954 12 17.5Z" stroke="#0194F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        </path>
                                    </svg>
                                    <div dir="auto" class="css-901oao r-t1w4ow r-1b43r93 r-b88u0q r-rjixqe r-13hce6t r-fdjqy7" style="color:rgba(1,148,243,1.00)">Thanh Toán Tại Khách Sạn</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@

<script>
    // $(function () {
    //     $('#checkInDate').datetimepicker();
    // });

    function UpdateCheckoutValue() {
        var checkInDateInput = document.getElementById('checkInDate');
        var checkOutDateHtml = document.getElementById('checkOutDate');
        var nightsInput = document.getElementById('nights');

        var checkInDate = new Date(checkInDateInput.value);
        var nights = parseInt(nightsInput.value);

        if (!isNaN(checkInDate.getTime()) && !isNaN(nights)) {
            var checkOutDate = new Date(checkInDate);
            checkOutDate.setDate(checkInDate.getDate() + nights);

            var options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' };
            checkInDateInput.textContent = checkInDate.toLocaleDateString('vi-VN', options);
            checkOutDateHtml.textContent = checkOutDate.toLocaleDateString('vi-VN', options);
        }
    }
</script>